# Importing Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [2]:
#Setting Variables
path_mac = r'/Users/saikathalder/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis 01182024'
path_win = r'C:\Users\Saikat Halder\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis 01182024'
#Importing orders
df_ords = pd.read_csv(os.path.join(path_mac, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
#Importing products
df_prods = pd.read_csv(os.path.join(path_mac, '02 Data', 'Original Data', 'products.csv'), index_col = False)
#Importing departments
df_dep = pd.read_csv(os.path.join(path_mac, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

# 1.0 Data Wrangling

## Orders

In [3]:
# Checking Number of rows
df_ords.shape[0]

3421083

In [3]:
#Dropping eval_set and assinging it to a new datafram = df_ords_2
df_ords_2 = df_ords.drop(columns = 'eval_set')

In [4]:
print(df_ords_2.head())

   order_id  user_id  order_number  order_dow  order_hour_of_day  \
0   2539329        1             1          2                  8
1   2398795        1             2          3                  7
2    473747        1             3          3                 12
3   2254736        1             4          4                  7
4    431534        1             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [5]:
#Renaming order_dow to order_day_of_week
df_ords_2.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [6]:
print(df_ords_2.head())

   order_id  user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329        1             1                  2                  8
1   2398795        1             2                  3                  7
2    473747        1             3                  3                 12
3   2254736        1             4                  4                  7
4    431534        1             5                  4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [7]:
#Changing the 'order_id' data type from integer to strings since we do not need any descriptive analysis on this
df_ords_2['order_id'] = df_ords_2['order_id'].astype('str')

In [8]:
print(df_ords_2['order_id'].dtype)

object

## Departments

In [9]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [10]:
#Transposing df_dept and assigning it to a new Datafram : df_dep_2
df_dep_t = df_dep.T

In [11]:
df_dep_t.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [12]:
#Adding index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [13]:
print(df_dep_t.head())

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [14]:
#creating new_header by taking the first row
new_header = df_dep_t.iloc[0]

In [15]:
print(new_header)

0    department
Name: department_id, dtype: object

In [16]:
#Creating a new Dataframe by taking from row 1 and onwards from df_dept_t
df_dep_t_new = df_dep_t[1:]

In [17]:
print(df_dep_t_new.head())

         0
1   frozen
2    other
3   bakery
4  produce
5  alcohol

In [18]:
#Assigning new_header to df_dep_t_new
df_dep_t_new.columns = new_header

In [19]:
print(df_dep_t_new.head())

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [20]:
#Creating Data Dictionary
data_dict_dep = df_dep_t_new.to_dict('index')

In [21]:
print(data_dict_dep)

{'1': {'department': 'frozen'}, '2': {'department': 'other'}, '3': {'department': 'bakery'}, '4': {'department': 'produce'}, '5': {'department': 'alcohol'}, '6': {'department': 'international'}, '7': {'department': 'beverages'}, '8': {'department': 'pets'}, '9': {'department': 'dry goods pasta'}, '10': {'department': 'bulk'}, '11': {'department': 'personal care'}, '12': {'department': 'meat seafood'}, '13': {'department': 'pantry'}, '14': {'department': 'breakfast'}, '15': {'department': 'canned goods'}, '16': {'department': 'dairy eggs'}, '17': {'department': 'household'}, '18': {'department': 'babies'}, '19': {'department': 'snacks'}, '20': {'department': 'deli'}, '21': {'department': 'missing'}}

# 2.0 Find another variable in df_ords for which data type needs to be changed

In [22]:
#Changing data type for user_id in df_ords_2
df_ords_2['user_id'] = df_ords_2['user_id'].astype('str')

In [23]:
print(df_ords_2['user_id'].dtype)

object

In [24]:
df_ords_2.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 3.0 Change the column name of unintuitive name from df_ords_2

In [25]:
#Renaming order_dow to order_day_of_week--this was already done
df_ords_2.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [26]:
print(df_ords_2.head())

  order_id user_id  order_number  order_day_of_week  order_hour_of_day  \
0  2539329       1             1                  2                  8
1  2398795       1             2                  3                  7
2   473747       1             3                  3                 12
3  2254736       1             4                  4                  7
4   431534       1             5                  4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

# 4.0 Busiest hour for placing orders

In [27]:
#Value_count for order_hour_of_day from df_ords_2
frequency = df_ords_2['order_hour_of_day'].value_counts(dropna = False) #using value_count to get the frequency
busiest_hour = frequency.idxmax()
print('Busiest hour for placing orders is' , busiest_hour, 'AM') #using idxmax() to find the index from the frequency table

Busiest hour for placing orders is 10 AM

# 5.0 Meaning behind the value 4 in the 'department_id'

In [28]:
print(data_dict_dep.get('4'))

{'department': 'produce'}

# 6.0 Breakfast item subset

In [29]:
#Getting the Department_id for Breakfast items

department_id_for_breakfast = next(key for key, value in data_dict_dep.items() if value['department'] == 'breakfast')
print('The Department ID for Breakfast is ',department_id_for_breakfast)

The Department ID for Breakfast is  14

In [30]:
#Creating Breakfast Item subset from the df_prods
df_breakfast = df_prods[df_prods['department_id']==10]
print (df_breakfast)

       product_id                                       product_name  \
503           503                                    Wild Rice Blend
1000         1000                                           Apricots
5161         5161                                        Dried Mango
6194         6194                           Organic Red Kidney Beans
6455         6455                               Organic Magic Muesli
7314         7314                          Organic Quick Rolled Oats
10224       10224                       Organic Hunza Golden Raisins
10540       10540                                Whole Medjool Dates
10915       10915                  Organic Short Brown Sprouted Rice
11325       11325                          Organic Hemp Plus Granola
12699       12699                                Super Nutty Granola
14611       14611                                   Turkish Apricots
14665       14665                              Organic White Popcorn
14985       14985                           Organic Raspberry Muesli
19067       19066                                 Organic Wheat Bran
19629       19628                        Organic Blueberries Package
22261       22260                                Organic Rolled Oats
22828       22827                         Organic Black Mission Figs
23039       23038                                 Organic Mung Beans
25860       25859                                    Cranberry Beans
27416       27414                                Organic Emmer Farro
28069       28067                     Organic Honey Lavender Granola
28657       28655                         Crystallized Ginger Chunks
30367       30365                                    Vegetable Chips
32234       32232                  Organic Roasted Buckwheat (Kasha)
38011       38007                     Naturally Sweet Plantain Chips
38617       38613                                Large Ataulfo Mango
39657       39653                           Organic Split Green Peas
40401       40397                       Organic Royal Rainbow Quinoa
42095       42091                                        Pesto Sauce
42138       42134                                   Israeli Couscous
43214       43210                                        Rolled Oats
43582       43578                               Madagascar Pink Rice
43773       43769                             Organic Pearled Barley
45686       45682                           Organic Turkish Apricots
46893       46889                         Organic Brown Basmati Rice
47493       47489                         Organic Brown Jasmine Rice
48782       48778  Fit Super A Juice, Cold Pressed, Carrot/Apple/...

       aisle_id  department_id  prices
503          68             10    10.8
1000         18             10    12.9
5161         18             10     6.1
6194         68             10    14.1
6455         68             10     8.3
7314         68             10    12.3
10224        18             10     5.4
10540        18             10    13.0
10915        68             10     7.7
11325        68             10    12.4
12699        68             10     4.5
14611        18             10     9.3
14665        18             10    10.5
14985        68             10    12.5
19067        68             10    13.4
19629        18             10     2.7
22261        68             10    11.4
22828        18             10     5.1
23039        68             10    11.0
25860        68             10     6.7
27416        68             10    11.7
28069        68             10     5.0
28657        18             10     8.0
30367        18             10     7.2
32234        68             10    13.6
38011        18             10     1.4
38617        68             10     5.6
39657        68             10    13.6
40401        68             10    10.8
42095        68             10     5.7
42138        68             10     5.0
43214        68             10     5.1
43582        68             10     3.8
43773        68             10     5.9
45686        68             10     5.4
46893        68             10     5.3
47493        68             10     5.6
48782        18             10    11.3

# 7.0 Subset for alocohol, deli, beverages, and meat/seafood

In [31]:
data_dict_dep
# department_id(alocohol)= 5
# department_id(deli)= 20
# department_id(beverages)= 7
# department_id(meat/seafood)= 12

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [32]:
#Creating subset for dinner parties
df_dinnerparty = df_prods.loc[df_prods['department_id'].isin ([5,20,7,12])]
print(df_dinnerparty)

       product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
16             17                               Rendered Duck Fat        35
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
16                12    17.1
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7650 rows x 5 columns]

# 8.0 Counting the number of rows for df_dinnerparty

In [33]:
rows_df_dinnerparty=df_dinnerparty.shape[0]
print('df_dinnerparty has', rows_df_dinnerparty, 'rows' )

df_dinnerparty has 7650 rows

# 9.0 Extracting information for user id = 1

In [34]:
#Extracting all the information for User Id from df_ords_2 into df_ords_2_1
df_ords_2_1 = df_ords_2[df_ords_2['user_id']=='1']
print(df_ords_2_1)

   order_id user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329       1             1                  2                  8
1   2398795       1             2                  3                  7
2    473747       1             3                  3                 12
3   2254736       1             4                  4                  7
4    431534       1             5                  4                 15
5   3367565       1             6                  2                  7
6    550135       1             7                  1                  9
7   3108588       1             8                  1                 14
8   2295261       1             9                  1                 16
9   2550362       1            10                  4                  8
10  1187899       1            11                  4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0

# 10.0 Basic Stats for User ID = 1

In [35]:
print(df_ords_2_1.describe())

       order_number  order_day_of_week  order_hour_of_day  \
count     11.000000          11.000000          11.000000
mean       6.000000           2.636364          10.090909
std        3.316625           1.286291           3.477198
min        1.000000           1.000000           7.000000
25%        3.500000           1.500000           7.500000
50%        6.000000           3.000000           8.000000
75%        8.500000           4.000000          13.000000
max       11.000000           4.000000          16.000000

       days_since_prior_order
count               10.000000
mean                19.000000
std                  9.030811
min                  0.000000
25%                 14.250000
50%                 19.500000
75%                 26.250000
max                 30.000000

# 12.0 Exporting df_ord_2 as orders_wrangled

In [36]:
df_ords_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled_2.csv'), index = False)

In [37]:
# Keeping index
#df_ords_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled_2.csv'))

# 13.0 Exporting df_dep_t_new as departments_wrangled.csv

In [38]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))