# Importing Libraries

In [7]:
# Import Library
import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [8]:
#Setting Variables
path = r'C:\Users\Saikat Halder\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis 01182024'
path_mac = r'/Users/saikathalder/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis 01182024'
#Importing products from Original Data
df_prods=pd.read_csv(os.path.join(path_mac, '02 Data', 'Original Data', 'products.csv'), index_col = False)
#Importing orders from Prepared Data
df_ords=pd.read_csv(os.path.join(path_mac, '02 Data', 'Prepared Data', 'orders_wrangled_2.csv'), index_col = False)

# 1.0 Consistency Checks on df_prods

In [9]:
# Checking number of rows
df_prods.shape[0]

49693

## Mixed Types

In [10]:
found_mix_type = False

for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].map(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods[weird]) > 0:
    print (col)
    found_mix_type = True
    
if not found_mix_type:
    print('There are no mix type columns')

product_name

In [11]:
# Checking for data types for product_name
product_name_data_type = df_prods['product_name'].dtype
print(product_name_data_type)
# product_name only has stings as data type. This confirms that there is no mixed data type in product_name. 
#The reason because found_mix_type is coming True might be because of the NUll values

object

## Missing Values

In [12]:
# Checking for missing values
print(df_prods.isnull().sum())
# it seems product_name has 16 missing values

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# Creating a subset for null values from the product_name
df_nan = df_prods[df_prods['product_name'].isnull()==True]
print (df_nan)

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [14]:
# Counting rows in product_name
print(df_prods['product_name'].shape[0])

49693

In [15]:
# Creating a new dataframe by removing the rows with null values
df_prods_clean =  df_prods[df_prods['product_name'].isnull()==False]
# Verifying row counts in df_prods_clean
print(df_prods_clean['product_name'].shape[0])
# 16 rows have been removed
# The following can be used to replace df_prods by removing the missing values
    #df.prods.dropna(inplace = True)
    #df_prods.dropna(subset= ['product_name'], inplace = True)

49677

## Duplicate Values

In [16]:
# Finding Duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]
print(df_dups)

       product_id                                       product_name  \
462           462                  Fiber 4g Gummy Dietary Supplement
18459       18458                                         Ranger IPA
26810       26808               Black House Coffee Roasty Stout Beer
35309       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35495       35491                            Adore Forever Body Wash

       aisle_id  department_id  prices
462          70             11     4.8
18459        27              5     9.2
26810        27              5    13.4
35309       121             14     6.8
35495       127             11     9.9

In [17]:
# Finding number of rows which have duplicates
print(df_dups.shape[0])

5

In [18]:
# Finding number of rows in df_prods_clean
print(df_prods_clean.shape[0])

49677

In [19]:
# Removing Duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
# Verifying number of rows in df_prods_clean_no_dups
print(df_prods_clean_no_dups.shape[0])
# 5 rows have been removed

49672

In [20]:
# Checking for mixed type data after Null values and duplicates are removed
found_mix_type = False

for col in df_prods_clean_no_dups.columns.tolist():
  weird = (df_prods_clean_no_dups[[col]].map(type) != df_prods_clean_no_dups[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods_clean_no_dups[weird]) > 0:
    print (col)
    found_mix_type = True
    
if not found_mix_type:
    print('There are no mix type columns')
# This confirms that there are no coulumns with mixed data in df_prods_clean_no_dups

There are no mix type columns

# 2.0 Interpreting df.describe() on df_ords

In [21]:
# Changing the datatype for order_id, user_id, order_number to string
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['user_id'] = df_ords['user_id'].astype('str')
df_ords['order_number'] = df_ords['order_number'].astype('str')
# Verifying the data type change
print(df_ords.dtypes)

order_id                   object
user_id                    object
order_number               object
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [22]:
print(df_ords.describe())

       order_day_of_week  order_hour_of_day  days_since_prior_order
count       3.421083e+06       3.421083e+06            3.214874e+06
mean        2.776219e+00       1.345202e+01            1.111484e+01
std         2.046829e+00       4.226088e+00            9.206737e+00
min         0.000000e+00       0.000000e+00            0.000000e+00
25%         1.000000e+00       1.000000e+01            4.000000e+00
50%         3.000000e+00       1.300000e+01            7.000000e+00
75%         5.000000e+00       1.600000e+01            1.500000e+01
max         6.000000e+00       2.300000e+01            3.000000e+01

## order_day_of_week

In [23]:
print('The Minimum of 0, the Maximum of 6 and the Median of 3 seems consistent with the data that is supposed to be present')

The Minimum of 0, the Maximum of 6 and the Median of 3 seems consistent with the data that is supposed to be present

## order_hour_of_day

In [24]:
print('The Minimum of 0, the Maximum of 23 and the Median of 13 is consistent with the data that is supposed to be present')

The Minimum of 0, the Maximum of 23 and the Median of 13 is consistent with the data that is supposed to be present

## days_since_prior_order

In [25]:
print('The Minimum of 0, the Maximum of 30 and the Median of 7 seems consistent with the data that is supposed to be present')

The Minimum of 0, the Maximum of 30 and the Median of 7 seems consistent with the data that is supposed to be present

# 3.0 Checking for mixed type of data in the df_ords dataframe

In [26]:
# Check for mixed types
found_mix_type = False

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)
    found_mix_type = True
    
if not found_mix_type:
    print('There are no mix type columns')

There are no mix type columns

# 4.0 Address the mixed_type data

In [27]:
print('There are no mixed type data in df_ords dataframe')

There are no mixed type data in df_ords dataframe

# 5.0 Run a check for missing values in your df_ords

In [28]:
# Finding missing values
print(df_ords.isnull().sum())

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [29]:
# Creating a subset for null values in the days_since_prior_order
df_nan_ords = df_ords[df_ords['days_since_prior_order'].isnull()==True]
#Showing the first 10 rows where days_since_prior_order is null
df_nan_ords.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
11,2168274,2,1,2,11,NaN
26,1374495,3,1,1,14,NaN
39,3343014,4,1,6,11,NaN
45,2717275,5,1,3,12,NaN
50,2086598,6,1,5,18,NaN
54,2565571,7,1,3,9,NaN
75,600894,8,1,6,0,NaN
79,280530,9,1,1,17,NaN
83,1224907,10,1,2,14,NaN

In [30]:
# Filter the DataFrame based where order_number is not '1'
filtered_df = df_nan_ords[df_nan_ords['order_number'] != '1']
#Count the number of order where the order_number is not '1'
print(filtered_df.count())

order_id                  0
user_id                   0
order_number              0
order_day_of_week         0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

## Explanation of the missing values in days_since_prior_order

In [31]:
print('When I saw that the order_number is 1 for the first 10 rows of order where the days_since_prior_order is null. I filtered the dataframe into a sub-dataframe where the order_number is not 1. This resulted a dataframe with no values. This means since this is the first order for each customer, the dataframe does not have any valeus for days_since_prior_order.')

When I saw that the order_number is 1 for the first 10 rows of order where the days_since_prior_order is null. I filtered the dataframe into a sub-dataframe where the order_number is not 1. This resulted a dataframe with no values. This means since this is the first order for each customer, the dataframe does not have any valeus for days_since_prior_order.

# 6.0 Address the missing values using an appropriate method

In [32]:
# Creating a copy of df_ords
original_df_ords = df_ords.copy()
df_ords_clean = original_df_ords.copy()

#Replacing the NaN values with '0' in a df_ords_clean
df_ords_clean['days_since_prior_order'] = df_ords_clean['days_since_prior_order'].fillna('0')

# Checking for missing values
#print(df_ords_clean.isnull().sum())

In [33]:
df_ords_clean.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

## Explanation

In [34]:
print('Since the NaN values are due to the order being the first order for each customer, I replaced the NaN values with 0')

Since the NaN values are due to the order being the first order for each customer, I replaced the NaN values with 0

# 7.0 Run a check for duplicate values in your df_ords

In [35]:
# Creating a subset with duplicate values
df_dups_ords = df_ords_clean[df_ords_clean.duplicated()]
# Checking if there are any records in df_dups_ords

if df_dups_ords.shape[0] == 0:
    print('There are no duplicate values')
else:
    print('Yes! there are duplicate values')

There are no duplicate values

In [36]:
# Checking number of rows
df_ords_clean.shape[0]

3421083

# 8.0 Address the duplicates

In [37]:
print('There are no duplicate values in df_ords_clean')

There are no duplicate values in df_ords_clean

# 9.0 Export the cleaned df_prods and df_ords into .csv files

In [39]:
# Exporting df_ords_clean
df_ords_clean.to_csv(os.path.join(path_mac, '02 Data', 'Prepared Data', 'orders_consistency_checked.csv'), index = False)
# Exporting df_prods_clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path_mac, '02 Data', 'Prepared Data', 'products_consistency_checked.csv'), index = False)