# Importing Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [2]:
#setting variables
path = r'C:\Users\Saikat Halder\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis 01182024'
path_mac = r'/Users/saikathalder/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis 01182024'
#importing dataframes for orders
df_ords = pd.read_csv(os.path.join(path_mac, '02 Data', 'Prepared Data', 'orders_consistency_checked.csv'), index_col = False)
#importing dataframes for products
df_prods = pd.read_csv(os.path.join(path_mac,'02 Data', 'Prepared Data', 'products_consistency_checked.csv' ), index_col = False)
#importing dataframes for df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path_mac,'02 Data', 'Original Data', 'orders_products_prior.csv' ), index_col = False)

In [3]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [3]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [5]:
# Checking the shape for df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [6]:
# Checking the shape for df_ords
df_ords.shape

(3421083, 6)

# Merging Dataframes

## Merging df_ords and df_ords_prior

In [7]:
# Merge on order_id, how = 'inner'
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'inner', indicator = True)

In [8]:
# Checking the output
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [9]:
# Checking the frequency count
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [10]:
# Checking the shape
df_merged_large.shape

(32434489, 10)

In [11]:
# Merge on order_id, how = 'outer'
#df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], how = 'outer', indicator = True)

In [12]:
# Checking the frequency count
# df_merged_large['_merge'].value_counts()

# Exporting

In [14]:
# Exporting
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))