# Importing Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [3]:
#setting variables
path = r'C:\Users\Saikat Halder\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis 01182024'
path_mac = r'/Users/saikathalder/CareerFoundry/Data Immersion/Achievement 4/Instacart Basket Analysis 01182024'
#importing dataframes for orders
df_merged_large = pd.read_pickle(os.path.join(path_mac, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
#importing dataframes for products
df_prods = pd.read_csv(os.path.join(path_mac,'02 Data', 'Prepared Data', 'products_consistency_checked.csv' ), index_col = False)

In [4]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [5]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
# Checking the shape for df_merged_large
df_merged_large.shape

(32434489, 10)

In [7]:
# Checking the shape for df_prods
df_prods.shape

(49672, 5)

In [10]:
# Dropping '_merge column'
df_merged_large = df_merged_large.drop(columns = ['_merge'])

In [11]:
#Checking the output for df_merged_large
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

# Merging Dataframes

In [12]:
# Merging df_prods and df_merged_large
# Merge on product_id, how = 'inner'
df_merged_combined = df_prods.merge(df_merged_large, on = ['product_id'], how = 'inner', indicator = True)

In [13]:
# Checking output for df_merged_combined
df_merged_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [14]:
# Checking the frequency count
df_merged_combined['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
# Checking the shape
df_merged_combined.shape

(32404859, 14)

# Exporting

In [16]:
# Exporting
df_merged_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_all_dataframes.pkl'))