# Importing Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Importing Dataframes

In [2]:
# Setting Variables
path = r'C:\Users\Saikat Halder\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis 01182024'
# Importing Merged Dataframe
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_all_dataframes.pkl'))

In [4]:
df_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [5]:
# Dropping _merge column
df_combined = df_combined.drop(columns = '_merge')

In [6]:
# Validating column dropping
df_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1

# Creating a subset

In [10]:
# Creating a subset
df_combined_subset = df_combined[:1000000]

In [11]:
# Confirming the number of rows
df_combined_subset.shape

(1000000, 13)

# Defining Variable and if_else statements

In [12]:
def price_lable(row):
    if row ['prices'] <= 5:
        return 'Low-range products'
    elif row ['prices'] > 5 and row ['prices'] <= 15:
        return 'Mid-range products'
    elif row ['prices'] > 15:
        return 'High range'
    else:
        return 'Not enough data'

## Aplying the function

In [17]:
df_combined_subset['price_range'] = df_combined_subset.apply(price_lable, axis=1)

C:\Users\Saikat Halder\AppData\Local\Temp\ipykernel_23988\1878056182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined_subset['price_range'] = df_combined_subset.apply(price_lable, axis=1)

In [19]:
# Frequency Count based on the price range
df_combined_subset['price_range'].value_counts(dropna = False)

price_range
Mid-range products    652638
Low-range products    338018
High range              9344
Name: count, dtype: int64

In [21]:
df_combined['prices'].max()

99999.0

## Using the loc() function

In [24]:
# High rangle products
df_combined_subset.loc[df_combined_subset['prices'] > 15, 'price_range_loc'] = 'High range products'

TypeError: '>' not supported between instances of 'str' and 'int'

## Getting the datatypes

In [27]:
df_combined_subset.dtypes

product_id                object
product_name              object
aisle_id                  object
department_id             object
prices                    object
order_id                  object
user_id                   object
order_number              object
order_day_of_week         object
order_hour_of_day         object
days_since_prior_order    object
add_to_cart_order         object
reordered                 object
price_range               object
dtype: object

In [28]:
df_combined.dtypes

product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
add_to_cart_order           int64
reordered                   int64
dtype: object

In [29]:
df = orders_products_merged_all_dataframes[:100000]

NameError: name 'orders_products_merged_all_dataframes' is not defined

In [31]:
found_mix_type = False

for col in df_combined.columns.tolist():
  weird = (df_combined[[col]].map(type) != df_combined[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_combined[weird]) > 0:
    print (col)
    found_mix_type = True
    
if not found_mix_type:
    print('There are no mix type columns')

There are no mix type columns